on boot
    # Init subsystem restart level script
    exec u:r:ssr_level:s0 -- /system/bin/sh /system/etc/init.ssr_level.sh "venus adsp slpi modem cdsp"
    


service ssr_dumper /system/bin/ssr_dumper
    class main
    user root
    group root system
    seclabel u:r:ssr_dumper:s0




