# Copyright (c) 2018 Sony Mobile Communications Inc.
#
# cacaoserver.rc
#
# Cacao service
service cacaoserver /system/bin/cacaoserver
    class main
    user cameraserver
    group audio camera input drmrpc
    ioprio rt 4
    writepid /dev/cpuset/camera-daemon/tasks /dev/stune/top-app/tasks
